
<h1>Add a new worker for assignment <em><%= link_to @assignmnt, @assignmnt %></em></h1>

<h3>People already doing this assignment</h3>

<div>
<table class="table-hover">
  <tbody>
  <% @assignmnt.doers.each do |worker| %>
      <tr>
        <td><%= link_to worker.name, worker %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<br>

<%= form_for(@user_assignment) do |f| %>
    <div class="form-group">
      <%= f.label :user_id %><br>
      <%= f.select :user_id, options_from_collection_for_select(@users,:id,:name) %>
    </div>

    <%= f.hidden_field :assignment_id, :value => @assignmnt.id %>

    <div class="actions">
      <%= f.submit class:'btn btn-primary'%>
    </div>

<% end %>