<div class="" id="newworker_field">

<div class="">
    <h1>Add a new worker for assignment <em><%= link_to @assignmnt, @assignmnt %></em></h1>
</div>


<h3>These workers are already doing this assignment:</h3>

<div>
<table class="table-hover">
  <tbody>
  <% @assignmnt.doers.each do |worker| %>
      <ul>
        <li><%= link_to worker.name, worker %></li>
      </ul>
  <% end %>
  </tbody>
</table>
</div>

<br>

<%= bootstrap_form_for(@user_assignment) do |f| %>

      <%= f.select :user_id, options_from_collection_for_select(@users,:id,:name) , icon: 'arrow-down', label: 'New worker'%>
    <%= f.hidden_field :assignment_id, :value => @assignmnt.id %>

      <%= f.submit%>

<% end %>

</div>