<div class="container-fluid" id="newworker_field">

<h1>Add a new worker for assignment <em><%= link_to @assignmnt, @assignmnt %></em></h1>

<h3>People already doing this assignment</h3>

<div>
<table class="table-hover">
  <tbody>
  <% @assignmnt.doers.each do |worker| %>
      <ul>
        <li><%= link_to worker.name, worker %></li>
      </ul>
  <% end %>
  </tbody>
</table>
</div>

<br>

<%= bootstrap_form_for(@user_assignment) do |f| %>
    <div class="form-group">
      <%= f.select :user_id, options_from_collection_for_select(@users,:id,:name) , icon: 'arrow-down'%>
    </div>

    <%= f.hidden_field :assignment_id, :value => @assignmnt.id %>

      <%= f.submit%>

<% end %>

</div>