
<section id="newAssignmentForm" >
  <%= bootstrap_form_for(@assignment) do |f| %>
    <% if @assignment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

        <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name %>
    </div>

      <%= f.fields_for :user_assignments do |ua| %>

          <div class="field">
            <%= ua.select :user_id, options_from_collection_for_select(@members,:id, :name) , icon:"arrow-down"%>
          </div>

          <% end %>


    <div class="field">
      <%= f.datetime_select :deadline, :start_year => Time.now.year, :end_year => Time.now.year %>
    </div>



    <div class="actions">

      <%= button_tag( :class => "btn btn-default") do %>
        <i class="fa fa-bar-chart"></i> Create Assignment
      <% end %>

    </div>
  <% end %>
</section>
