<p id="notice"><%= notice %></p>

<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: '/assignments.json',
        firstDay: 1,
        eventBackgroundColor: "black",
        eventTextColor: "white"
        // Need more adjusting

    });


});

</script>

<h1>Listing Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>
        <td> fix this to show the user that is assigned to this task</td>
        <td><%= assignment.deadline %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add task', ""%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>

<div>
  <p></p>
</div>

<div id="calendar"></div>