
<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        var calendar = $('#calendar');

        calendar.fullCalendar({
            // put your options and callbacks here
            events: '/assignments.json',
            firstDay: 1,
            eventTextColor: "white"
            // Need more adjusting

        });


    });

</script>

<h1>Listing Assignments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Workers</th>
      <th>Deadline</th>
      <th>Assigned by</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>

        <td>
          <table>
            <tbody>
          <% assignment.doers.each do |doer| %>
          <tr>
            <td><%=link_to doer, doer%></td>
          </tr>
            <% end %>
            </tbody>
            </table>
        </td>

        <td><%= assignment.deadline %></td>
        <td><%= link_to assignment.get_creator, assignment.get_creator%> </td> <!-- This is pretty slow because SQL-->
        <td><%= assignment.is_ready%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div>
  <p></p>
</div>

<div id="calendar"></div>


