<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>


<h3>People doing this assignment</h3>

<table>
  <tbody>
  <% @assignment.doers.each do |worker| %>
      <tr>
        <td><%= link_to worker.name, worker %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <strong>Is done:</strong>
  <%= @assignment.is_done %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @assignment.deadline %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
