
<h1><i class="fa fa-trello fa-2x">  Listing Tasks</i></h1>

<table class="table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Assignment</th>
      <th>Deadline</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.location %></td>
        <td><%= task.assignment %></td>
        <td><%= task.assignment.deadline.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
