<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Users:</strong>
  <%= @group.members %>
</p>

<%= form_for(@membership, method: :post) do |f| %>
    <div class="field">
      <%= f.label :user_id %>
      <%= f.text_field :user_id %>
    </div>
    <div class="actions">
      <%= f.submit "join the club" %>
    </div>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
