<div class="col-md-6 col-md-offset-3" id="group_show">
<h1>
  <%= @group.name %>
</h1>

<p class="lead">
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Users:</strong>
        <table class="table table-hover">
          <tbody>
          <% @group.members.each do |member| %>
              <tr>
                <td><%= link_to member.name, member %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
</p>
<% if Membership.membership_exists?(current_user.id, @group.id) %>
  <%= link_to 'Leave the group', membership_path(Membership.find_mem(current_user, @group.id)), method: :delete, class:'btn btn-warning' %>
<% else %>
  <%= form_for(@membership, method: :post) do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :group_id, :value => @group.id %>
    </div>
    <div class="actions">
      <%= f.submit "join the club" , class:'btn btn-primary'%>
    </div>
  <% end %>
<% end %>
<br/>
</div>