<%=  bootstrap_form_for(@user) do |f|%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        <%= f.text_field :name , icon:"user", placeholder:"Username"%>
        <div id="newuser_dateselect">
        <%= f.date_select :birthdate, :start_year => Time.now.year - 60, :end_year => Time.now.year, label: 'Date of birth'%>
        </div>

      <%= f.password_field :password , icon:"lock",  placeholder:"Password with one numeral and one uppercase"%>
      <%= f.password_field :password_confirmation, icon:"eye-open", placeholder: "Match with the typed password" %>

    <%= f.submit%>
<% end %>
