<script src='fullcalendar/lang-all.js'></script>
<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        var calendar = $('#calendar');

        calendar.fullCalendar({
            // put your options and callbacks here
            lang: 'fi',
            events: '/assignments.json',
            firstDay: 1,
            eventTextColor: "white"

            // Need more adjusting

        });


    });

</script>


<div id="userbody_form">

  <div class="col-md-2 col-md-offset-5">
        <h2>
          <%= @user.name %>
        </h2>

        <p>
          <%= @user.birthdate %>
        </p>
    </div>


  <div class="col-md-6 col-md-offset-3" id="calendar"></div>

  <div class="container-fluid col-md-4">

<h3>Joined organizations</h3>

    <table class="table">
        <tbody>
            <% @user.groups.each do |group| %>
                    <tr>
                      <td><%= link_to group.name, group %></td>
                    </tr>
            <% end %>
        </tbody>
    </table>
  </div>

  <div class="container-fluid col-md-4">

<h3>
  Creator of
</h3>
<table class="table">

  <thead>
  <tr>
    <th>Name</th>
    <th>Can be destroyed</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @user.get_created_assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>
        <% if assignment.is_done %>
            <td><%= link_to assignment.is_done, assignment, method: :delete, data: {confirm: 'This item can be removed now. Are you sure?'}, class:'btn btn-danger'%></td>
        <% else %>
            <td><%= assignment.is_done%></td>
        <%end %>


        <td>
          <% if current_user.id == @user.id %>
            <%= link_to new_user_assignment_path(:assignment_id => assignment.id) do %>
              <i class="fa fa-user-plus btn btn-info">  Add worker</i>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

  <div class="col-md-4">
<h3>Assigned to assignments</h3>
<table class="table">

  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @user.assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>
        <td><%=assignment.is_ready%></td>
        <td>

          <table class="table">
            <thead>
            <th>Task name</th>
            <th>Done</th>
            <th colspan="3"></th>
            </thead>
            <tbody>
            <% assignment.tasks.each do |task| %>
                <tr>
                  <td><%=link_to task.name, task%></td>
                  <td><%=task.is_done%></td>
                  <td><%=button_to "Mark as done", mark_done_path(:id => task.id), method: :post, class:'btn btn-primary' if not task.is_done%></td>
                </tr>
            <% end %>
            <td><br></td>
            </tbody>
          </table>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>

    </div>


  <div class="col-md-12">
    <%= link_to  edit_user_path(@user) do %>
      <i class="fa fa-pencil-square-o btn btn-default"> Edit your information</i>  <!--class:'btn btn-default' %> -->
    <% end %>
  </div>


</div>
