<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>


<h3>Joined organizations</h3>

<table>
    <tbody>
        <% @user.groups.each do |group| %>
                <tr>
                  <td><%= link_to group.name, group %></td>
                </tr>
        <% end %>
    </tbody>
</table>

<h3>
  Assigned assignments
</h3>
<table>
  <tbody>
  <% @user.get_created_assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>Assigned to assignments</h3>
<table>
  <tbody>
  <% @user.assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>
      </tr>
  <% end %>
  </tbody>
</table>
