<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=link_to 'users', users_path%> | 
<%=link_to 'assignments', assignments_path%> | 
<%=link_to 'tasks', tasks_path%> |
<%=link_to 'groups', groups_path%> <b>|</b>

    <% if current_user %>
        [<%= link_to current_user.name, current_user %>]
    <%end%>

<%= link_to 'sign up', signup_path if not current_user%> |
<%= link_to 'sign in', signin_path if not current_user%> |
<%= link_to 'sign out', signout_path, method: :delete  if current_user%>



<%= yield %>


</body>
</html>
